[alias]
     pl = pull --rebase
     plce = pull --commit --no-edit
     st = status
     psh = push origin master
     br = branch
     co = checkout
     lg = log --oneline --decorate
     upd = "!sh -c git checkout master; git pull --rebase; git checkout -; git rebase master;"
     p4upd = "!sh -c git checkout master; git p4 rebase; git checkout -; git rebase master;"
     p4prep = p4 submit --prepare-p4-only
[user]
	email = jaredhocutt@gmail.com
	name = Jared Hocutt
[push]
	default = simple
[core]
	excludesfile = $HOME/.gitignore_global
