[alias]
	pl = pull --rebase
	plce = pull --commit --no-edit
	st = status
	br = branch
	co = checkout
	cmt = commit -sS
	lg = log --oneline --decorate
	upd = "!sh -c git checkout master; git pull --rebase; git checkout -; git rebase master;"
	p4upd = "!sh -c git checkout master; git p4 rebase; git checkout -; git rebase master;"
	p4prep = p4 submit --prepare-p4-only
	# http://gggritso.com/human-git-aliases
	branches = branch -a
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit = diff --cached --diff-algorithm=minimal -w
[user]
	email = jaredhocutt@gmail.com
	name = Jared Hocutt
[push]
	default = simple
[core]
	excludesfile = $HOME/.gitignore_global
