#!/usr/bin/env zsh

# ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
# hash: {{ include "private_Library/private_LaunchAgents/net.hocutt.backup.autorestic.plist.tmpl" | sha256sum }}

echo "Reloading LaunchAgent for net.hocutt.backup.autorestic"

launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
