{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
# hash: {{ include "private_Library/private_LaunchAgents/net.hocutt.backup.autorestic.plist.tmpl" | sha256sum }}

echo "Reloading LaunchAgent net.hocutt.backup.autorestic"

if launchctl print gui/$(id -u)/net.hocutt.backup.autorestic &>/dev/null; then
  launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
fi

echo "Checking if LaunchAgent net.hocutt.backup.autorestic is already loaded..."
if launchctl print gui/$(id -u)/net.hocutt.backup.autorestic &>/dev/null; then
  echo "LaunchAgent net.hocutt.backup.autorestic already loaded, unloading it first..."
  launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist
fi

echo "Loading LaunchAgent net.hocutt.backup.autorestic..."
launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/net.hocutt.backup.autorestic.plist

echo "LaunchAgent net.hocutt.backup.autorestic reloaded"
{{ end -}}
