"*":
  core:
    projectHome: "$HOME/projects"
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "872ecfba-431c-b72e-5c3a-af51942d2991"
  welcome:
    showOnStartup: false
