#!/usr/bin/env zsh

/opt/homebrew/bin/brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.darwin.all.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.all.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.all.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF

{{- if eq .machineType "personal" -}}
/opt/homebrew/bin/brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.darwin.personal.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.personal.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.personal.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{- end -}}

{{- if eq .machineType "work" -}}
/opt/homebrew/bin/brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.darwin.work.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.work.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.work.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{- end -}}
