#!/usr/bin/env zsh

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
