alias ip="ip --color"

alias buildah="sudo buildah"
alias bd="sudo buildah"
alias podman="sudo podman"
alias docker="podman"
alias occompletion="source <(oc completion zsh)"

alias dnf-upgrade="sudo dnf clean all && sudo dnf upgrade"

alias penv="pipenv"
alias psh="pipenv shell"
