alias occompletion="source <(oc completion zsh)"

alias dnf-upgrade="sudo dnf clean all && sudo dnf upgrade"
alias dupg="sudo dnf upgrade --refresh"

alias pylint-all="find . -iname '*.py' | xargs pylint"

